
.unit {
	position: absolute;
	/* left: 300px;
	top: 200px; */
	width: 5px;
	height: 5px;
	background-color: #262626;
	border-radius: 50%;
	box-shadow: 0 0 10px #4b4b4b,
	            0 0 15px #414141,
	            0 0 20px #5f5f5f,
}

#butterfly-container {
	background: url("../../static/img/noise.webm");
}