.text-stroke-white {
    -webkit-text-stroke: 0.5px white;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.center-all {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 52;
}

.text-stroke {
    $color: red !default;
    $width: 2.5px !default;

    color: transparent;
    font-family: system-ui, sans-serif;
    // font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    -webkit-text-stroke-width: var(--width, $width);
    -webkit-text-stroke-color:  $color;
    -webkit-text-fill-color: transparent;
}

.highlight {
    $color: white !default;
    color:white;
    font-weight: 600;
}

.highlight.underline {
    color:red;
    font-weight: 700;
    text-transform: uppercase;
}

.social-link {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background: rgb(133, 133, 133);
    transition: all 0.3s linear;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
      filter: brightness(0) invert(1);
    }

    &:hover {
      background: #a21717;
    }
}

.social-link + .social-link {
    margin-left: 16px;
}

.big {
    zoom: 1.2;
}

.social-logo {
    filter: brightness(0) invert(1);
  }
